In [16]:
import pandas as pd

In [17]:
"""A comparação entre as bases releva que há 666 tweets distintos entre a hierarquica e a binária """

'A comparação entre as bases releva que há 666 tweets distintos entre a hierarquica e a binária '

In [18]:
# explore: a document can be classified into more than a label?
# hierarchical or flat?
# single label or multilabel?

In [22]:
df = pd.read_csv('2019-05-28_portuguese_hate_speech_binary_classification.csv')
print(df.shape)
df.head(2)

(5670, 8)

,text,hatespeech_comb,hatespeech_G1,annotator_G1,hatespeech_G2,annotator_G2,hatespeech_G3,annotator_G3
0,@__andrea__b \nO cara vive em outro mundo\nNão...,1,1,A,1.0,V,0,E
1,@_carmeloneto Estes incompetentes não cuidam n...,0,1,D,0.0,V,0,C

In [23]:
df2 = pd.read_csv('2019-05-28_portuguese_hate_speech_hierarchical_classification.csv')
print(df2.shape)
df2.head(2)

(5668, 80)

,text,Hate.speech,Sexism,Body,Racism,Ideology,Homophobia,Origin,Religion,Health,...,Thin.women,Arabic,East.europeans,Africans,South.Americans,Brazilians,Migrants,Homossexuals,Thin.people,Ageing
0,"""não come mel, morde marimbondo""",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"não tem pinto, tem orgulho !",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df3 = pd.read_csv('graph_hierarchical_classes.csv')
print(df3.shape)
df3.head(2)

(99, 2)

        Source  Target
0  Hate speech  Racism
1  Hate speech  Origin

In [25]:
import hashlib
def hash_string(text):
    ''''Transform string into a hash'''
    return {hashlib.sha1(text.strip().lower().encode("utf-8")).hexdigest(): text}

In [26]:
hash_string("bb")

{'9a900f538965a426994e1e90600920aff0b4e8d2': 'bb'}

In [27]:
bi = df.text
hi = df2.text

In [28]:
d = {}
for i in hi:
    d.update(hash_string(i))

In [29]:
l_result = []

for i in bi:
    result = hash_string(i)
    if list(result.keys())[0] not in d:
        l_result.append(result)

In [30]:
len(l_result)

666